@model IEnumerable<Basic_Inventory_Management_System.Models.SellingOrderItem>

@{
    ViewData["Title"] = "Index";
}

<h1 class="alert alert-primary">Show Sellingorder Item</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="emptable">
    <thead>
        <tr>
            <th>
               
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                
                @Html.DisplayNameFor(model => model.SellingOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
               
                    @Html.DisplayFor(modelItem => item.Product.name)
            </td>
            <td>
                
                    @Html.DisplayFor(modelItem => item.SellingOrder.Id)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
    <script>
        $(document).ready(function () {
            $("#emptable").DataTable({
                layout: {
                    bottomStart: {
                        buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
                    }
                }
            });
        });
    </script>
}